<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nubisa.repl" version="0.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>JXcoreREPL</name>
    <description>
        Repl server running on phone.
    </description>
    <author email="kaxabernet@gmail.com">
        Kakhaber Bazerashvili
    </author>
    <content src="jxcore/public/index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/jxcore/public/img/icon.png" density="ldpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
