.bash {
    background-color: #272822;
    min-height: 100%;
    width: 100%;
    font-family: 'consolas';
    font-size: 17px;
    padding: 5px;
    box-sizing: border-box;
    color: #BFBFBF;
}

.bash > *:nth-last-child(2) {
    float: left;
}

.bash > .bash-input {
    overflow: hidden;
}

.bash > .bash-input > input {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: 0;
    background-color: transparent;
    color: #BFBFBF;
    font-size: inherit;
    font-family: inherit;
    box-sizing: border-box;
}