.bash {
    background-color: #272822;
    min-height: 100%;
    width: 100%;
    font-family: 'consolas';
    font-size: 17px;
    padding: 5px;
    box-sizing: border-box;
}

.bash > .bash-commands {
    overflow: hidden;
}

.bash > .bash-commands > .bash-command {
    color: #BFBFBF;
}

.bash > .bash-commands > .bash-command:nth-last-child(2) {
    float: left;
    display: block;
}

.bash > .bash-commands > .bash-input {
    display: block;
    overflow: auto;
}

.bash > .bash-commands > .bash-input > input {
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    outline: 0;
    background-color: transparent;
    color: #BFBFBF;
    padding-left: 9px;
    font-size: inherit;
    font-family: inherit;
    box-sizing: border-box;
}